.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 30px;
  margin: 0 auto;
}

.navContainer button {
  font-family: "Patrick Hand", cursive;
  background-color: rgb(255, 255, 255);
  border: transparent;
  width: 100px;
  height: 60px;
  border-radius: 20px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  margin-right: 10px;
}

.navContainer a {
  color: black;
  text-decoration: none;
}

.navContainer button:hover {
  transform: scale(1.05);
}