.App {
   text-align: center;
   background-image: url('https://p4.wallpaperbetter.com/wallpaper/364/740/974/tv-show-rick-and-morty-morty-smith-planet-rick-sanchez-hd-wallpaper-preview.jpg');
   width: 100vw;
   height: 100vh;
}
.img-rick{
   width: 400px;
   margin-bottom: 40px;
}